<html>
<head>
    <title>
        DEMO OF HBS
    </title>
    <style>
        .card {
            width: 300px;
            padding: 20px;
            border-radius: 16px;
            background: #fff;
            box-shadow: 0 4px 12px rgba(0,0,0,0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;

        }

        .card:hover {
            transform: translateY(-10px);
            box-shadow: 0 12px 24px rgba(0,0,0,0.2);
        }
    </style>
    <link rel="stylesheet" type="text/css" href="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body style="background-color:black ">

<a href="/display">Registration from</a>

    <nav style="background-color:rgba(161, 161, 161, 1) ">
<div>
<form action="/send" method="POST">
    <input type="text" name="name" placeholder="Enter your name"style="border:2px solid black;border-radius: 25px">
    <input type="text" name="roll" placeholder="Enter your roll"style="border:2px solid black;border-radius: 25px" class="from=control">
    <input type="submit" value="Submit"style="background-color: rgba(77, 148, 153, 1) ;color: white ;border-radius: 25px">
</form>
</div>
    </nav>
<div>
    <span>
   <div class="card" style="width: 18rem;">
  <img src="https://signifiya.tech/Event/13.png" style="height: 350px; alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
      <a href="#"> <p class="card-text">adamas university signifiya event no 1 Treasure hunt</p></a>
    <a href="https://www.google.com/search?q=thug+of+war+&sca_esv=ec1c0fa4563bd641&rlz=1C1RXQR_enIN1064IN1065&sxsrf=AHTn8zpm2Jfg1aa0LxLlajf1yI5qs7vBNg%3A1744975459698&ei=YzYCaLShKoWNseMPscTxMQ&ved=0ahUKEwj03qqTvOGMAxWFRmwGHTFiPAYQ4dUDCBA&uact=5&oq=thug+of+war+&gs_lp=Egxnd3Mtd2l6LXNlcnAaAhgBIgx0aHVnIG9mIHdhciAyBxAjGLECGCcyDhAAGIAEGJECGLEDGIoFMgsQABiABBiRAhiKBTILEAAYgAQYkQIYigUyCxAAGIAEGJECGIoFMgsQABiABBiRAhiKBTIKEAAYgAQYChiLAzIKEAAYgAQYChiLAzIHEAAYgAQYCjIKEAAYgAQYChiLA0jMIVC-BljEGnABeACQAQCYAbICoAG-EaoBBTItOC4xuAEDyAEA-AEBmAIEoALQBsICChAjGLACGLADGCfCAggQABiwAxjvBcICCxAAGIAEGLADGKIEwgILEAAYsAMYogQYiQXCAgcQIRigARgKwgIHECMYsAIYJ8ICBxAAGIAEGA3CAg0QLhiABBjHARgNGK8BmAMA4gMFEgExIECIBgGQBgaSBwcxLjAuMi4xoAe_QbIHBTItMi4xuAezBg&sclient=gws-wiz-serp" class="btn btn-primary">For more information</a>
  </div>
</div><div class="card" style="width: 18rem;position: absolute;top: 67px;right: 0;">
  <img src="https://signifiya.tech/Event/11.png" style="height: 350px; alt="">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
      <a href="#"> <p class="card-text">adamas university signifiya event no 2 path folloewr.</p></a>
    <a href="https://www.youtube.com/watch?v=g8mFuuyZC6A" class="btn btn-primary">For more information</a>
  </div>
</div>
        <div class="card" style="width: 18rem;position: absolute;top: 67px;left: 300px;">
  <img src="https://signifiya.tech/Event/6.png" style="height: 350px; class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
      <a href="#">  <p class="card-text">adamas university signifiya event no 3.</p></a>
    <a href="https://www.youtube.com/watch?v=6JNsChuavpU" class="btn btn-primary">For more information</a>
  </div>
</div><div class="card" style="width: 18rem;position: absolute;top: 67px;left: 600px;">
  <img src="https://signifiya.tech/Event/1.png"style="height: 350px; class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
      <a href="#"> <p class="card-text">adamas university signifiya event no 4</p></a>
    <a href="https://www.youtube.com/watch?v=6UELSHTwIso" class="btn btn-primary">for more information</a>
  </div>
</div>
        <div class="card" style="width: 18rem;;position: absolute;top: 67px;left: 910px;">
  <img src="https://signifiya.tech/Event/4.png" alt="..." style="height: 350px;"<div class="card-body">
    <h5 class="card-title">Card title</h5>
      <a href="#"> <p class="card-text">adamas university signifiya event no 5.</p></a>>
    <a href="https://www.youtube.com/watch?v=AWx85ekRlH0" class="btn btn-primary">for more information</a>
  </div>
</div>
    </span>>
</div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>